.container {
  padding: 10px 10px 0;
  display: grid;
  grid-template-columns: 1fr 60px;
  gap: 10px;
}

.buttonsContainer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  row-gap: 1px;
}

.inputsContainer {
  display: grid;
  row-gap: 1px;
}

.green {
  height: 3px;
  background-color: #79B100;
}

.gray {
  min-width: 5px;
  min-height: 5px;
  background-color: gray;
}