.container {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.label {
  font-size: 14px;
  text-transform: capitalize;
}

.select {
  min-height: 25px;
  min-width: 50px;
  border: none;
}

.container:last-child {
  margin-bottom: 0;
}