.container {
  position: relative;
  margin: 0 0 10px 0;
  overflow: hidden;
  display: flex;
  flex: 1;
  justify-content: center;
}

.itemsContainer {
  overflow-y: auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 90px 90px 90px;
  gap: 5px;
}
