.container {
  background-color: rgb(60, 62, 68);
  margin-bottom: 1px;
  position: relative;
}

.container:hover {
  opacity: .7;
  cursor: pointer;
}

.container:last-child {
  margin-bottom: 0;
}

.img {
  display: block;
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.title {
  color: white;
  font-size: 12px;
  padding: 0 5px 5px;
  word-wrap: break-word;
}