.container {
  background-color: rgb(60, 62, 68);
  margin-bottom: 1px;
  position: relative;

  &:hover {
    opacity: .7;
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.imageContainer {
  width: 100%;
  height: 90px;
}

.active {
  filter: blur(5px);
}

.title {
  color: white;
  font-size: 12px;
  padding: 0 5px 5px;
  word-wrap: break-word;
}